.content{
    width:500px;
    height:500px;
    margin:0 auto;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p{
    margin: 5px;
}

form{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.resultContainer{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    justify-items: stretch;
    align-items: stretch;
}

.resultContainer > *{
    text-align: right;
}

#feel-temp, #humidity, #temp, #condition{
    text-align: left;
}

.resultContainer :first-child{
    text-align: center;
    grid-column: 1 / span 2;
}